@page "/basket/{Id:int}"
@*@page "/productsfortype/{Id:int}"*@

@attribute [StreamRendering]
@rendermode InteractiveServer

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
@code
{
	
	[Parameter]
	public int Id { get; set; }
	
	public ProductOutputModel product  { get; set; }
	
	private List<ProductOutputModel> _products;

	private ProductClient _product;
	
	private List<ShopOutputModel> _shops;

	private ShopClient _shop;

	public Basket()
	{
		_product = new ProductClient();
		_shop = new ShopClient();
		
	}

	protected override void OnInitialized()
	{
		_products = _product.GetProductsByProductTypeId(Id);
		_shops = _shop.GetAllShops();
	}
}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++



<PageTitle>Корзина</PageTitle>

<h1>Корзина</h1>
<table class="table">
	<thead>
	<tr>
		<th>Торвар</th>
		<th>Цена</th>
		<th>Описание</th>
		<th>Выбрать шт.</th>
	</tr>
	
	</thead>
	
	<tbody>	
			
		@foreach (var i in _products)
		{
			<tr>

				<td>
					<h4>@i.Name</h4>
				</td>
				<td>
					<div>@i.Price руб</div>
				</td>

				<td>
					<p><button class='link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' @onclick="ToggleModal">Посмотреть</button></p>

					<div class="@modalClass " tabindex="-1" style="display: @displayMode;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title">@i.Name</h3>
								</div>
								<div class="modal-body">
									<p><img src="@i.Img"></p>
								</div>
								<div class="modal-content">
									<h5 class="modal-title">@i.Price руб.</h5>
								</div>
								<div class="modal-content">
									<h5 class="modal-title">@i.Description</h5>
								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary" @onclick="ToggleModal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</td>

				@code {
                        
        				bool open = false;
        				string modalClass => open ? "modal fade show" : "modal fade";
        				string displayMode => open ? "block" : "none";
                        
                        
        				private void ToggleModal()
        				{
        					open = !open;
        					StateHasChanged();
        				}
                        
        				[Parameter]
        				public RenderFragment ChildContent { get; set; }
                        
        			}
				
				<td>
					<div class="d-flex">
						<button class="btn btn-outline-primary" style="margin-right: 30px;" @onclick="IncrementCount1">-</button>

						<div role="status"> @currentCount1</div>

						<button class="btn btn-outline-primary" style="margin-left: 30px;" @onclick="IncrementCount2">+</button>
					</div>

					@code {
						private int currentCount1 = 1;

						private void IncrementCount1()
						{
							currentCount1--;
						}

						private void IncrementCount2()
						{
							currentCount1++;
						}
					}

				</td>
			</tr>
		}
	</tbody>
</table>
====================================================================================================================================================================

<h1>Где можно забрать</h1>

<table class="table">
	<thead>
		<tr>
			<th>Заберу из</th>
			<th>Магазин</th>
			<th>Адрес</th>
			<th>Кол. шт. в магазине</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in _shops)
		{
			<tr>
				<td>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
						<label class="form-check-label" for="exampleRadios1">
							Заберу из
						</label>
					</div>

				</td>
				<td>@i.Name</td>
			@*-- Т.к. в ссылке используется @ а она нужна для внутренних переменных, необходимо использовать двойную собаку
			     чтобы её заэкранировать, т.к. в ссылке после /maps/ пишем двойную собаку @@, а там где нам нужны данные
			     из нашей переменной, мы используем одинарную @i.Adress -->*@
				<td><a href="https://www.google.com/maps/@@59.9400863,30.3028374,11.03z?entry=ttu&q=@i.Adress">@i.Adress</a></td>
				<td>12</td>

			</tr>
		}
		
		</tbody>
</table>


<div class="d-flex flex-row-reverse">
	<form action="http://localhost:5182/request">
		<button type="submit">Заказать</button>
	</form>
</div>


