@using AppliancesShop.BLL.Models.OutputModels


@*<a href="./productsfortype/@product.Id">*@
    
        	<td>
        			<div>@product.Name</div>
        	</td>
        		<td>
        			<div>  @product.Price руб</div>
        		</td>
        			
        			<td>
        				<p><a class='link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' @onclick="ToggleModal">Посмотреть</a></p>
                        
        				<div class="@modalClass " tabindex="-1" style="display: @displayMode;">
        					<div class="modal-dialog">
        						<div class="modal-content">
        							<div class="modal-header">
								        <h5 class="modal-title">@product.Name</h5>
								        <button class="close" @onclick="ToggleModal" aria-label="Close" >
                                        		<span aria-hidden="true">&times;</span>
                                        </button>
        							</div>
        							<div class="modal-body">
        								<p><img src="@product.Img"></p>
        							</div>
        							<div class="modal-content">
        								<h5 class="modal-title">@product.Price руб.</h5>
        							</div>
        							<div class="modal-content">
        								<h5 class="modal-title">@product.Description</h5>
        							</div>
        							<div class="modal-footer">
        								<button class="btn btn-secondary" @onclick="ToggleModal">Close</button>
        							</div>
        						</div>
        					</div>
        				</div>
        			</td>
                        
        			@code {
                        
        				bool open = false;
        				string modalClass => open ? "modal fade show" : "modal fade";
        				string displayMode => open ? "block" : "none";
                        
                        
        				private void ToggleModal()
        				{
        					open = !open;
        					StateHasChanged();
        				}
                        
        				[Parameter]
        				public RenderFragment ChildContent { get; set; }
                        
        			}
			        <td>
				        <AddInBasket Step="@j" Action="Add"></AddInBasket>
			        </td>
			        
@code {
    [Parameter]
    public ProductOutputModel product { get; set; }

}

@code
{
	private string j = "Добавь в корзину)";
	private int? aaa = 1;
	// ========================
	// List<int> idsProd = List<int>();
	
	// ==========================
	
	public void Add(string a)
	{
		if (
			j == "Добавь в корзину)")
		{
			j = "В корзине";

			aaa = @product.Id;
			// idsProd.Add(Conaaa);
			Console.WriteLine(aaa);
	}
		else
		{
			j = "Добавь в корзину)";
		}
		StateHasChanged();
	}

	
}

